// centering in different directions
@mixin  centerAbs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@mixin centerInBothDirection {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin centerInHorizontally {
    display: flex;
    justify-content: center;
}
@mixin centerInVertically {
    display: flex;
    align-items: center;
}


@mixin createGrid($size) {
    display: grid;
    grid-template-columns: repeat($size, 1fr);
    grid-auto-rows: minmax(200px, auto);
 
}

$breakpoints: (
    small: 576px,
    medium: 768px,
    large: 992px,
    extra-large: 1200px,
    extra-extra-large: 1400px
);

@mixin mediaQuery($key) {
$size: map-get($breakpoints, $key);

    @media(min-width: $size){
        @content;
    }
}