
$delete-btn-color: #d05050;
$cancel-btn-color: #1f3e59;
$accent-color: rgb(247, 59, 2);

$body-bg-color: rgb(238, 238, 238);

$transition-gen: all .3s ease-in-out;

$heading-font: Marcellus, serif;
$body-font: Arial, Helvetica, sans-serif;