.btn {
    padding: .5rem 1.5rem;
    color: #fff;
    font-size: 1.1rem;
    border-radius: .4rem;
    box-shadow: .2rem .3rem 1rem rgba(0,0,0,0.1);

    &__delete-all-btn {
        background-color: $delete-btn-color;
    }
}