.form {

    &__edit-book,
    &__add-book {
        width: 400px;
    }     

    &__label,
    &__input,
    &__select {
        display: block;
        width: 100%;
    }
    &__input,
    &__select {
        padding: .5rem .5rem;
    }
    &__label {
        margin-bottom: .3rem;
        font-weight: 530;
        font-size: 1.1rem;
    }
    &__control {
        margin-bottom: 1rem;
        &-checkbox {
            @include centerInVertically();
        }
    }
    &__input {
        border-radius: 5px;
        border: 0;
    }
    &__checkbox {
        margin-right: .3rem;
        
    }
    &__cancel-btn {
        background: rgb(10, 55, 177);
    }
    
    &__add-btn,
    &__edit-btn {
        background: $accent-color;
    }
    &__edit-book,
    &__add-book {
        display: none;
    }
    
}