.genres {
    overflow-y: scroll;
    display: none;

    &::-webkit-scrollbar {
        width: 10px;
      }
      
      /* Track */
    &::-webkit-scrollbar-track {
        background: lighten(#ffdcdc, 60); 
      }
       
      /* Handle */
    &::-webkit-scrollbar-thumb {
        background: darken(#ffdcdc, 11); 
      }
    &__item {
        text-align: center;
       
    }
    &__item--active {
        a {
            color: #f7f7f7;
            font-weight: bold;
            text-decoration: none;
            background-color: darken(#ffdcdc, 10);
            display: block;
            padding: .5rem 0;
            width: 80%;
            margin: 0 auto;
            margin-bottom: 1.5rem;
             
        }
    }
    &__link {
         margin-bottom: 1.5rem;
         text-decoration: underline;
         color: rgb(76, 0, 255);
    }
}