.modal {
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .7);

  &__box {
      background-color: rgb(245, 244, 244);
      border-radius: .5rem;
      padding: 1rem;
      
      text-align: center;
  }
  &__title {
      color: rgb(241, 32, 32); 
      text-align: center;
      margin-bottom: 1rem;
      font-size: 2rem;
      
  }
  &__text {
      color: rgb(241, 32, 32);
      font-weight: 600;
      margin-bottom: 2rem;
  }
  &__footer {
    margin-top: 1rem;
  }
  &__cancel-btn {
      background: blue;
      margin-right: 1.5rem;
  }
  &__delete-btn {
      background: red;
  }

}