*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: $body-font;
    line-height: 1.5;
    
}
:is(a,button,span,output,time,input,i){
    display: inline-block;
}
a {
    text-decoration: none;
}
button {
    border: 0;
    cursor: pointer;
}
li {
    list-style: none;
}
html{
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
        width: .8rem;
      }
      
      /* Track */
    &::-webkit-scrollbar-track {
        background: lighten(#ffdcdc, 5); 
      }
       
      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: darken(#ffdcdc, 10); 
      }
        
}
